:root {
    /* LIGHT MODE */
    --myorange : #ff9a00;
    --mywhite : #fafafa;
    --lightblue : #A2D5F2;
    --deepblue : #07689F;

    /* DARK MODE */
    --darkestblue : #1B262C;
    --darkblue : #0F4C75;
    --blue : #3282B8;
    --lighterblue : #BBE1FA;
}
#address-bar {
    position: relative;
    width: 80vw;
    margin-top: 2vh;
    border: 1px solid var(--lightblue);
    border-radius: 10px;
    color: var(--deepblue);
}
.breadcrumb-item a {
    text-decoration: none;
    color: var(--darkblue);
}
#search-bar {
    position: relative;
    width: 80vw;
    border: 1px solid var(--lightblue);
    margin-top: 2vh;
    border-radius: 10px;
    color: var(--deepblue);
}
.btn-glow {
    border: 2px solid var(--darkestblue);
    color: var(--darkestblue);
    background-color: var(--myorange);
    font-size: 18px;
    transition: all 0.2s;
}
.btn-glow:hover {
    border: 2px solid var(--myorange);
    color: var(--myorange);
    background-color: var(--darkestblue);
    font-size: 22px;
}

#table-bar {
    position: relative;
    width: 80vw;
    border: 1px solid var(--lightblue);
    margin-top: 2vh;
    border-radius: 10px;
    color: var(--deepblue);
    height: auto;
}
table {
    background: linear-gradient(0.50turn, var(--mywhite), var(--lighterblue), var(--mywhite));
}
th {
    color: var(--myorange);
    background: linear-gradient(0.50turn, var(--deepblue), var(--darkblue));
}
tbody tr {
    transition: all 0.3s;
}
tbody tr:hover {
    background: linear-gradient(0.50turn, var(--mywhite), var(--myorange), var(--mywhite));
    background-color: var(--myorange);
}
tbody td i {
    padding-right: .75vw;
    color: var(--darkestblue);
}

#content-bar {
    background-image: radial-gradient(var(--lighterblue), var(--mywhite));
    position: relative;
    width: 80vw;
    margin-top: 2vh;
    border: 1px solid var(--lightblue);
    border-radius: 10px;
    color: var(--deepblue);
}
input {
    color: var(--myorange);
    border-radius: 4px;
    border: 2px solid var(--lightblue);
}
input:disabled {
    color: var(--darkblue);
    border-radius: 4px;
    border: 1px solid var(--deepblue);
}


#status-bar {
    position: relative;
    width: 80vw;
    margin-top: 2vh;
}

#data-block {
    background-image: radial-gradient(var(--lighterblue), var(--mywhite));
    border: 1px solid var(--lightblue);
    border-radius: 10px;
    color: var(--deepblue);
}

#tables-bar {
    position: relative;
    width: 80vw;
    border: 1px solid var(--lightblue);
    margin-top: 2vh;
    border-radius: 10px;
    color: var(--deepblue);
    height: 52%;
}

small {
    font-size: 24px;
}

#basic-bar {
    position: relative;
    width: 60vw;
    margin-top: 2vh;
    border: 1px solid var(--lightblue);
    border-radius: 10px;
    color: var(--deepblue);
}

#wallet-bar {
    position: relative;
    width: 20vw;
    margin-top: 2vh;
    border: 1px solid var(--lightblue);
    border-radius: 10px;
    color: var(--deepblue);
}